/* src/css/ProductDetail.css */
.container-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 20px 20px 20px;
}

.main-product {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-image {
  width: 100%;
  height: 400px; /* Anda dapat menyesuaikan tinggi sesuai kebutuhan */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Memastikan gambar mencakup seluruh area tanpa distorsi */
}

.product-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-details .product-id {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.product-details .product-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.product-details .product-price {
  font-size: 24px;
  color: #e74c3c;
  margin-bottom: 20px;
}

.product-details .add-to-cart {
  background-color: #294b29;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-details .add-to-cart:hover {
  background-color: #1b301b;
  transform: scale(1.02);
}

.product-info {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-info .description {
  margin-top: 20px;
}

.product-info .description h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.product-info .description p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.product-slider {
  margin-top: 40px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-slider:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.product-slider h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.slider-button {
  background-color: #294b29;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.slider-button:hover {
  background-color: #294b29;
  transform: scale(1.1);
}

.slider-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.product-cards {
  /* display: flex; */
  overflow: hidden;
  width: 100%;
  justify-content: center;
}

.product-card {
  background: white;
  border-radius: 10px;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  width: 220px;
  flex-shrink: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.product-card-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-card-title {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.product-card-price {
  font-size: 16px;
  margin-bottom: 10px;
  color: #e74c3c;
}

.product-card .add-to-cart {
  background-color: #294b29;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-card .add-to-cart:hover {
  background-color: #27ae60;
  transform: scale(0.5);
}

.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-card a:hover {
  color: #2980b9;
}
